# Simple API Example Usage

Author: Ryan Fogle

In [17]:
import os
from cta import SimpleAPI
from dotenv import load_dotenv
import pandas as pd
from tqdm.auto import tqdm
tqdm.pandas()
load_dotenv(override=True)

True

## GET Time

In [2]:
tracker = SimpleAPI(key=os.environ['CTA_KEY'])
tracker.gettime()

{'bustime-response': {'tm': '20240228 22:40:16'}}

## GET Data Feeds

This is not used for CTA, but included for sake of mimicking CTA HTTP routes.

In [3]:
tracker.getrtpidatafeeds()

{'bustime-response': {'rtpidatafeeds': [{'name': 'bustime',
    'source': 'Bus Tracker',
    'displayname': 'CTA',
    'enabled': 'true',
    'visible': 'true'}]}}

## GET Routes

In [7]:
routes = tracker.getroutes()
len(routes['bustime-response']['routes'])

124

In [16]:
df = pd.DataFrame(routes['bustime-response']['routes'])
df

      rt                             rtnm    rtclr rtdd
0      1        Bronzeville/Union Station  #336633    1
1      2                Hyde Park Express  #993366    2
2      3                       King Drive  #009900    3
3      4                    Cottage Grove  #cc3300    4
4     X4            Cottage Grove Express  #006666   X4
..   ...                              ...      ...  ...
119  171          U. of Chicago/Hyde Park  #336633  171
120  172            U. of Chicago/Kenwood  #993366  172
121  192  U. of Chicago Hospitals Express  #cc3300  192
122  201                    Central/Ridge  #996633  201
123  206              Evanston Circulator  #666600  206

[124 rows x 4 columns]

In [18]:
df['directions'] = df['rt'].progress_apply(lambda x: tracker.getdirections(x))
df

  0%|          | 0/124 [00:00<?, ?it/s]

100%|██████████| 124/124 [00:55<00:00,  2.25it/s]

,rt,rtnm,rtclr,rtdd,directions
0,1,Bronzeville/Union Station,#336633,1,{'bustime-response': {'directions': [{'id': 'N...
1,2,Hyde Park Express,#993366,2,{'bustime-response': {'directions': [{'id': 'N...
2,3,King Drive,#009900,3,{'bustime-response': {'directions': [{'id': 'N...
3,4,Cottage Grove,#cc3300,4,{'bustime-response': {'directions': [{'id': 'N...
4,X4,Cottage Grove Express,#006666,X4,{'bustime-response': {'directions': [{'id': 'N...
...,...,...,...,...,...
119,171,U. of Chicago/Hyde Park,#336633,171,{'bustime-response': {'directions': [{'id': 'N...
120,172,U. of Chicago/Kenwood,#993366,172,{'bustime-response': {'directions': [{'id': 'N...
121,192,U. of Chicago Hospitals Express,#cc3300,192,{'bustime-response': {'directions': [{'id': 'N...
122,201,Central/Ridge,#996633,201,{'bustime-response': {'directions': [{'id': 'E...
123,206,Evanston Circulator,#666600,206,{'bustime-response': {'directions': [{'id': 'E...

In [24]:
df['directions_clean'] = df['directions'].apply(lambda x: x['bustime-response']['directions'])
df_dir = df.explode('directions_clean')
df_dir['dir_id'] = df_dir['directions_clean'].apply(lambda x: x['id'])
df_dir['dir_nm'] = df_dir['directions_clean'].apply(lambda x: x['name'])
df2 = df_dir.drop(columns=['directions', 'directions_clean'])
df2

,rt,rtnm,rtclr,rtdd,dir_id,dir_nm
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound
0,1,Bronzeville/Union Station,#336633,1,Southbound,Southbound
1,2,Hyde Park Express,#993366,2,Northbound,Northbound
1,2,Hyde Park Express,#993366,2,Southbound,Southbound
2,3,King Drive,#009900,3,Northbound,Northbound
...,...,...,...,...,...,...
121,192,U. of Chicago Hospitals Express,#cc3300,192,Southbound,Southbound
122,201,Central/Ridge,#996633,201,Eastbound,Eastbound
122,201,Central/Ridge,#996633,201,Westbound,Westbound
123,206,Evanston Circulator,#666600,206,Eastbound,Eastbound
123,206,Evanston Circulator,#666600,206,Westbound,Westbound

## GET Directions

In [8]:
tracker.getdirections(rt='8')

{'bustime-response': {'directions': [{'id': 'Northbound',
    'name': 'Northbound'},
   {'id': 'Southbound', 'name': 'Southbound'}]}}

## GET Stops

In [27]:
df2['stops'] = df2.progress_apply(lambda x: tracker.getstops(rt=x.rt, dir=x.dir_id), axis=1)
df2

100%|██████████| 247/247 [01:54<00:00,  2.16it/s]

,rt,rtnm,rtclr,rtdd,dir_id,dir_nm,stops
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound,{'bustime-response': {'stops': [{'stpid': '156...
0,1,Bronzeville/Union Station,#336633,1,Southbound,Southbound,{'bustime-response': {'stops': [{'stpid': '160...
1,2,Hyde Park Express,#993366,2,Northbound,Northbound,{'bustime-response': {'stops': [{'stpid': '170...
1,2,Hyde Park Express,#993366,2,Southbound,Southbound,{'bustime-response': {'stops': [{'stpid': '487...
2,3,King Drive,#009900,3,Northbound,Northbound,{'bustime-response': {'stops': [{'stpid': '218...
...,...,...,...,...,...,...,...
121,192,U. of Chicago Hospitals Express,#cc3300,192,Southbound,Southbound,{'bustime-response': {'stops': [{'stpid': '140...
122,201,Central/Ridge,#996633,201,Eastbound,Eastbound,{'bustime-response': {'stops': [{'stpid': '154...
122,201,Central/Ridge,#996633,201,Westbound,Westbound,{'bustime-response': {'stops': [{'stpid': '149...
123,206,Evanston Circulator,#666600,206,Eastbound,Eastbound,{'bustime-response': {'stops': [{'stpid': '143...
123,206,Evanston Circulator,#666600,206,Westbound,Westbound,{'bustime-response': {'stops': [{'stpid': '143...

In [32]:
df2['stops_cln'] = df2['stops'].apply(lambda x: x['bustime-response']['stops'])
df_stops = df2.explode('stops_cln')
df_stops['stpid'] = df_stops['stops_cln'].apply(lambda x: x['stpid'])
df_stops['stpnm'] = df_stops['stops_cln'].apply(lambda x: x['stpnm'])
df_stops['lat'] = df_stops['stops_cln'].apply(lambda x: x['lat'])
df_stops['lon'] = df_stops['stops_cln'].apply(lambda x: x['lon'])
df3 = df_stops.drop(columns=['stops', 'stops_cln'])
df3

,rt,rtnm,rtclr,rtdd,dir_id,dir_nm,stpid,stpnm,lat,lon
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound,1564,3000 S Michigan,41.840607,-87.623207
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound,17046,Adams & Clark,41.879457,-87.631083
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound,1108,Adams & S. Wacker,41.879177,-87.636101
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound,4732,Adams & State,41.879491,-87.628093
0,1,Bronzeville/Union Station,#336633,1,Northbound,Northbound,77,Adams & Wabash,41.879580,-87.625973
...,...,...,...,...,...,...,...,...,...,...
123,206,Evanston Circulator,#666600,206,Westbound,Westbound,14258,Ridge & Monroe,42.030722,-87.685912
123,206,Evanston Circulator,#666600,206,Westbound,Westbound,18322,Ridge & Mulford,42.023166,-87.685016
123,206,Evanston Circulator,#666600,206,Westbound,Westbound,14254,Ridge & Oakton,42.026477,-87.685355
123,206,Evanston Circulator,#666600,206,Westbound,Westbound,14256,Ridge & Seward,42.028933,-87.685657
123,206,Evanston Circulator,#666600,206,Westbound,Westbound,14260,Ridge & Washington,42.032692,-87.686388

In [9]:
tracker.getstops(rt='8', dir='Southbound')

{'bustime-response': {'stops': [{'stpid': '5776',
    'stpnm': '1700 N Halsted',
    'lat': 41.912085,
    'lon': -87.648352000001},
   {'stpid': '5774',
    'stpnm': '1900 N Halsted',
    'lat': 41.916024999999,
    'lon': -87.648524},
   {'stpid': '5812',
    'stpnm': '2300 S Halsted ',
    'lat': 41.850904999999,
    'lon': -87.646533},
   {'stpid': '5848',
    'stpnm': '6400 S Halsted',
    'lat': 41.778039000001,
    'lon': -87.644870999999},
   {'stpid': '5804',
    'stpnm': 'Halsted & 14th Place',
    'lat': 41.862536000001,
    'lon': -87.646866999998},
   {'stpid': '5806',
    'stpnm': 'Halsted & 16th Street',
    'lat': 41.859465000001,
    'lon': -87.646773000001},
   {'stpid': '17904',
    'stpnm': 'Halsted & 18th Street',
    'lat': 41.857250000001,
    'lon': -87.646714000002},
   {'stpid': '17905',
    'stpnm': 'Halsted & 26th Street',
    'lat': 41.845006,
    'lon': -87.646532000001},
   {'stpid': '5815',
    'stpnm': 'Halsted & 28th Street',
    'lat': 41.843603999999,
    'lon': -87.646509},
   {'stpid': '18213',
    'stpnm': 'Halsted & 29th Street',
    'lat': 41.841317000001,
    'lon': -87.646441000001},
   {'stpid': '5817',
    'stpnm': 'Halsted & 30th Street',
    'lat': 41.840026000001,
    'lon': -87.646417000001},
   {'stpid': '17157',
    'stpnm': 'Halsted & 31st Street',
    'lat': 41.837635000001,
    'lon': -87.646353999999},
   {'stpid': '17123',
    'stpnm': 'Halsted & 32nd Street',
    'lat': 41.836176000001,
    'lon': -87.646310000001},
   {'stpid': '5820',
    'stpnm': 'Halsted & 33rd Street',
    'lat': 41.834495,
    'lon': -87.646269999998},
   {'stpid': '5821',
    'stpnm': 'Halsted & 34th Street ',
    'lat': 41.832803999999,
    'lon': -87.646231999999},
   {'stpid': '5822',
    'stpnm': 'Halsted & 35th Street',
    'lat': 41.830912000001,
    'lon': -87.646201000001},
   {'stpid': '5823',
    'stpnm': 'Halsted & 36th Street ',
    'lat': 41.82878,
    'lon': -87.646140000002},
   {'stpid': '17595',
    'stpnm': 'Halsted & 37th Street',
    'lat': 41.82734,
    'lon': -87.646100000001},
   {'stpid': '5825',
    'stpnm': 'Halsted & 38th Street ',
    'lat': 41.825726999999,
    'lon': -87.646065999999},
   {'stpid': '5827',
    'stpnm': 'Halsted & 41st Street',
    'lat': 41.820213,
    'lon': -87.645930999999},
   {'stpid': '5150',
    'stpnm': 'Halsted & 42nd Street',
    'lat': 41.817558999999,
    'lon': -87.645861},
   {'stpid': '17170',
    'stpnm': 'Halsted & 43rd Place',
    'lat': 41.814509000001,
    'lon': -87.645777},
   {'stpid': '17060',
    'stpnm': 'Halsted & 43rd Street',
    'lat': 41.815874999999,
    'lon': -87.64581},
   {'stpid': '17158',
    'stpnm': 'Halsted & 45th Street',
    'lat': 41.812157999999,
    'lon': -87.645727},
   {'stpid': '5155',
    'stpnm': 'Halsted & 46th Street',
    'lat': 41.810345,
    'lon': -87.645680999999},
   {'stpid': '16127',
    'stpnm': 'Halsted & 47th Street',
    'lat': 41.808529000001,
    'lon': -87.645638000001},
   {'stpid': '5829',
    'stpnm': 'Halsted & 48th Street',
    'lat': 41.807158999999,
    'lon': -87.645588000001},
   {'stpid': '5830',
    'stpnm': 'Halsted & 49th Street',
    'lat': 41.805541,
    'lon': -87.645541},
   {'stpid': '5831',
    'stpnm': 'Halsted & 50th Street',
    'lat': 41.803505999999,
    'lon': -87.645481999999},
   {'stpid': '15023',
    'stpnm': 'Halsted & 51st Street',
    'lat': 41.801359999999,
    'lon': -87.645435},
   {'stpid': '5833',
    'stpnm': 'Halsted & 52nd Street',
    'lat': 41.799895,
    'lon': -87.645399999999},
   {'stpid': '17950',
    'stpnm': 'Halsted & 53rd Street',
    'lat': 41.797531000001,
    'lon': -87.64534},
   {'stpid': '5835',
    'stpnm': 'Halsted & 54th Street',
    'lat': 41.796182,
    'lon': -87.645302999999},
   {'stpid': '5838',
    'stpnm': 'Halsted & 56th Street',
    'lat': 41.792594999999,
    'lon': -87.645209999998},
   {'stpid': '5839',
    'stpnm': 'Halsted & 57th Street',
    'lat': 41.790780999999,
    'lon': -87.645162000001},
   {'stpid': '5840',
    'stpnm': 'Halsted & 58th Street',
    'lat': 41.788979000001,
    'lon': -87.645116999999},
   {'stpid': '5841',
    'stpnm': 'Halsted & 59th Street',
    'lat': 41.787191,
    'lon': -87.64508},
   {'stpid': '5842',
    'stpnm': 'Halsted & 60th Street ',
    'lat': 41.785306999999,
    'lon': -87.645043000002},
   {'stpid': '17373',
    'stpnm': 'Halsted & 61st Street',
    'lat': 41.783072000001,
    'lon': -87.644987000001},
   {'stpid': '15873',
    'stpnm': 'Halsted & 63rd Parkway',
    'lat': 41.781846,
    'lon': -87.644960000001},
   {'stpid': '15875',
    'stpnm': 'Halsted & 63rd Street (Green Line)',
    'lat': 41.779376000001,
    'lon': -87.644862999998},
   {'stpid': '15876',
    'stpnm': 'Halsted & 65th Street',
    'lat': 41.775765,
    'lon': -87.644795},
   {'stpid': '5850',
    'stpnm': 'Halsted & 66th Street',
    'lat': 41.774403999999,
    'lon': -87.644768000002},
   {'stpid': '5852',
    'stpnm': 'Halsted & 68th Street',
    'lat': 41.770769,
    'lon': -87.64465},
   {'stpid': '14496',
    'stpnm': 'Halsted & 69th Street',
    'lat': 41.768388999999,
    'lon': -87.644593},
   {'stpid': '5854',
    'stpnm': 'Halsted & 70th Street',
    'lat': 41.767121,
    'lon': -87.644550999999},
   {'stpid': '5855',
    'stpnm': 'Halsted & 71st Street',
    'lat': 41.765313999999,
    'lon': -87.644502},
   {'stpid': '5856',
    'stpnm': 'Halsted & 72nd Street',
    'lat': 41.763534999999,
    'lon': -87.644464999999},
   {'stpid': '5857',
    'stpnm': 'Halsted & 73rd Street',
    'lat': 41.761677,
    'lon': -87.644418999999},
   {'stpid': '14818',
    'stpnm': 'Halsted & 74th Street',
    'lat': 41.759517,
    'lon': -87.644356},
   {'stpid': '5859',
    'stpnm': 'Halsted & 75th Street ',
    'lat': 41.758557,
    'lon': -87.644338},
   {'stpid': '5860',
    'stpnm': 'Halsted & 75th Street ',
    'lat': 41.757428,
    'lon': -87.644305999999},
   {'stpid': '5861',
    'stpnm': 'Halsted & 76th Street',
    'lat': 41.756206000001,
    'lon': -87.64428},
   {'stpid': '15086',
    'stpnm': 'Halsted & 77th Street',
    'lat': 41.754011000001,
    'lon': -87.644217},
   {'stpid': '5863',
    'stpnm': 'Halsted & 78th Street',
    'lat': 41.752605999999,
    'lon': -87.644187999999},
   {'stpid': '5864',
    'stpnm': 'Halsted & 79th Street',
    'lat': 41.750764999999,
    'lon': -87.644159999999},
   {'stpid': '17472',
    'stpnm': 'Halsted & 79th Street Terminal',
    'lat': 41.749793000001,
    'lon': -87.643614999998},
   {'stpid': '14901',
    'stpnm': 'Halsted & Addison',
    'lat': 41.946935000001,
    'lon': -87.649554999999},
   {'stpid': '5761',
    'stpnm': 'Halsted & Aldine',
    'lat': 41.941912999999,
    'lon': -87.649409000001},
   {'stpid': '5769',
    'stpnm': 'Halsted & Altgeld',
    'lat': 41.927222,
    'lon': -87.648923},
   {'stpid': '18468',
    'stpnm': 'Halsted & Armitage',
    'lat': 41.917924,
    'lon': -87.648602999999},
   {'stpid': '1349',
    'stpnm': 'Halsted & Belden',
    'lat': 41.923765999999,
    'lon': -87.648787},
   {'stpid': '14906',
    'stpnm': 'Halsted & Belmont',
    'lat': 41.939709,
    'lon': -87.649349},
   {'stpid': '5779',
    'stpnm': 'Halsted & Blackhawk',
    'lat': 41.908745,
    'lon': -87.648308000001},
   {'stpid': '15354',
    'stpnm': 'Halsted & Cermak',
    'lat': 41.852328,
    'lon': -87.646571999998},
   {'stpid': '15347',
    'stpnm': 'Halsted & Chicago',
    'lat': 41.895940000001,
    'lon': -87.647840999998},
   {'stpid': '14908',
    'stpnm': 'Halsted & Clark/Barry',
    'lat': 41.937843999999,
    'lon': -87.649283},
   {'stpid': '5759',
    'stpnm': 'Halsted & Cornelia',
    'lat': 41.945591,
    'lon': -87.649513999999},
   {'stpid': '5809',
    'stpnm': 'Halsted & Cullerton',
    'lat': 41.855473999999,
    'lon': -87.646652999999},
   {'stpid': '5772',
    'stpnm': 'Halsted & Dickens',
    'lat': 41.920109,
    'lon': -87.648661999998},
   {'stpid': '14907',
    'stpnm': 'Halsted & Diversey',
    'lat': 41.932434000001,
    'lon': -87.649097999999},
   {'stpid': '15273',
    'stpnm': 'Halsted & Division',
    'lat': 41.903298000001,
    'lon': -87.648155000001},
   {'stpid': '5788',
    'stpnm': 'Halsted & Erie',
    'lat': 41.893974999999,
    'lon': -87.647774999999},
   {'stpid': '5780',
    'stpnm': 'Halsted & Evergreen',
    'lat': 41.906517,
    'lon': -87.648254999999},
   {'stpid': '5149',
    'stpnm': 'Halsted & Exchange',
    'lat': 41.818302,
    'lon': -87.645876999998},
   {'stpid': '5792',
    'stpnm': 'Halsted & Fulton Market',
    'lat': 41.886929,
    'lon': -87.647602000002},
   {'stpid': '5836',
    'stpnm': 'Halsted & Garfield ',
    'lat': 41.794418,
    'lon': -87.645261000002},
   {'stpid': '5837',
    'stpnm': 'Halsted & Garfield ',
    'lat': 41.793586999999,
    'lon': -87.645251999998},
   {'stpid': '5765',
    'stpnm': 'Halsted & George',
    'lat': 41.934682000001,
    'lon': -87.649182000002},
   {'stpid': '4638',
    'stpnm': 'Halsted & Harrison',
    'lat': 41.873890999999,
    'lon': -87.647237999999},
   {'stpid': '5799',
    'stpnm': 'Halsted & Jackson',
    'lat': 41.878091,
    'lon': -87.647328000002},
   {'stpid': '15350',
    'stpnm': 'Halsted & Lake',
    'lat': 41.885352,
    'lon': -87.647564},
   {'stpid': '18436',
    'stpnm': 'Halsted & Lincoln/Fullerton',
    'lat': 41.925165,
    'lon': -87.648846000001},
   {'stpid': '15008',
    'stpnm': 'Halsted & Madison',
    'lat': 41.881402999999,
    'lon': -87.647431999998},
   {'stpid': '17953',
    'stpnm': 'Halsted & Marquette Rd',
    'lat': 41.772198999999,
    'lon': -87.644685000002},
   {'stpid': '5802',
    'stpnm': 'Halsted & Maxwell',
    'lat': 41.864901999999,
    'lon': -87.646931},
   {'stpid': '5790',
    'stpnm': 'Halsted & Milwaukee/Grand (Blue Line)',
    'lat': 41.89159,
    'lon': -87.647712999998},
   {'stpid': '15352',
    'stpnm': 'Halsted & Monroe',
    'lat': 41.880217000001,
    'lon': -87.647392},
   {'stpid': '15407',
    'stpnm': 'Halsted & North Ave (Red Line)',
    'lat': 41.910582,
    'lon': -87.648356999999},
   {'stpid': '16125',
    'stpnm': 'Halsted & North Branch',
    'lat': 41.898727000001,
    'lon': -87.647959},
   {'stpid': '14863',
    'stpnm': 'Halsted & Pershing',
    'lat': 41.823098,
    'lon': -87.645999999999},
   {'stpid': '4639',
    'stpnm': 'Halsted & Polk',
    'lat': 41.872085000001,
    'lon': -87.647179000002},
   {'stpid': '15351',
    'stpnm': 'Halsted & Randolph/Washington',
    'lat': 41.883833,
    'lon': -87.647514000001},
   {'stpid': '17366',
    'stpnm': 'Halsted & Roosevelt',
    'lat': 41.866747,
    'lon': -87.646999},
   {'stpid': '5760',
    'stpnm': 'Halsted & Roscoe',
    'lat': 41.943749999999,
    'lon': -87.649473999999},
   {'stpid': '5767',
    'stpnm': 'Halsted & Schubert',
    'lat': 41.931471,
    'lon': -87.649069},
   {'stpid': '4640',
    'stpnm': 'Halsted & Taylor',
    'lat': 41.869861999999,
    'lon': -87.647116},
   {'stpid': '5756',
    'stpnm': 'Halsted & Waveland/Broadway Terminal',
    'lat': 41.949802,
    'lon': -87.649177999999},
   {'stpid': '5771',
    'stpnm': 'Halsted & Webster',
    'lat': 41.921964,
    'lon': -87.648736},
   {'stpid': '5764',
    'stpnm': 'Halsted & Wellington',
    'lat': 41.936551000001,
    'lon': -87.649242999999},
   {'stpid': '5775',
    'stpnm': 'Halsted & Willow',
    'lat': 41.914005000001,
    'lon': -87.648464999998},
   {'stpid': '5768',
    'stpnm': 'Halsted & Wrightwood',
    'lat': 41.929222999999,
    'lon': -87.648988000001},
   {'stpid': '5917',
    'stpnm': 'Halsted Orange Line Station',
    'lat': 41.846907,
    'lon': -87.647689},
   {'stpid': '205',
    'stpnm': 'UIC-Halsted Blue Line Station',
    'lat': 41.875558,
    'lon': -87.647191999999},
   {'stpid': '5757',
    'stpnm': 'Waveland & Broadway',
    'lat': 41.949149999999,
    'lon': -87.648781999999}]}}

## GET Bustime Predictions

In [ ]:
tracker.getpredictions(stpid='5776')

## GET Vehicles

In [25]:
tracker.getvehicles(rt='8')

{'bustime-response': {'vehicle': [{'vid': '1209',
    'tmstmp': '20240228 22:55:36',
    'lat': '41.941782448508526',
    'lon': '-87.64932250976562',
    'hdg': '178',
    'pid': 9368,
    'rt': '8',
    'des': '79th',
    'pdist': 3264,
    'dly': False,
    'tatripid': '1078429',
    'origtatripno': '251983095',
    'tablockid': '8 -708',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 82320,
    'stsd': '2024-02-28'},
   {'vid': '1327',
    'tmstmp': '20240228 22:55:48',
    'lat': '41.87947047840465',
    'lon': '-87.64727783203125',
    'hdg': '178',
    'pid': 9368,
    'rt': '8',
    'des': '79th',
    'pdist': 26016,
    'dly': False,
    'tatripid': '1078428',
    'origtatripno': '251983149',
    'tablockid': '8 -705',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 81210,
    'stsd': '2024-02-28'},
   {'vid': '7932',
    'tmstmp': '20240228 22:55:46',
    'lat': '41.85533696954901',
    'lon': '-87.64656829833984',
    'hdg': '179',
    'pid': 9368,
    'rt': '8',
    'des': '79th',
    'pdist': 34845,
    'dly': False,
    'tatripid': '1078427',
    'origtatripno': '251983094',
    'tablockid': '8 -710',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 80100,
    'stsd': '2024-02-28'},
   {'vid': '1311',
    'tmstmp': '20240228 22:55:31',
    'lat': '41.820049120032266',
    'lon': '-87.6458914383598',
    'hdg': '179',
    'pid': 9368,
    'rt': '8',
    'des': '79th',
    'pdist': 48967,
    'dly': False,
    'tatripid': '1078426',
    'origtatripno': '251983147',
    'tablockid': '8 -703',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 79080,
    'stsd': '2024-02-28'},
   {'vid': '1262',
    'tmstmp': '20240228 22:55:44',
    'lat': '41.75063915910392',
    'lon': '-87.64402770996094',
    'hdg': '178',
    'pid': 9368,
    'rt': '8',
    'des': '79th',
    'pdist': 74316,
    'dly': False,
    'tatripid': '1078425',
    'origtatripno': '251983148',
    'tablockid': '8 -701',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 78120,
    'stsd': '2024-02-28'},
   {'vid': '7972',
    'tmstmp': '20240228 22:55:46',
    'lat': '41.750057220458984',
    'lon': '-87.64400482177734',
    'hdg': '6',
    'pid': 9376,
    'rt': '8',
    'des': 'Waveland/Broadway',
    'pdist': 218,
    'dly': False,
    'tatripid': '1078384',
    'origtatripno': '251983054',
    'tablockid': '8 -759',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 82530,
    'stsd': '2024-02-28'},
   {'vid': '8560',
    'tmstmp': '20240228 22:55:30',
    'lat': '41.81263682047526',
    'lon': '-87.645636622111',
    'hdg': '359',
    'pid': 9376,
    'rt': '8',
    'des': 'Waveland/Broadway',
    'pdist': 23061,
    'dly': False,
    'tatripid': '1078383',
    'origtatripno': '251983064',
    'tablockid': '8 -716',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 81390,
    'stsd': '2024-02-28'},
   {'vid': '7933',
    'tmstmp': '20240228 22:55:42',
    'lat': '41.84956741333008',
    'lon': '-87.64646911621094',
    'hdg': '0',
    'pid': 9376,
    'rt': '8',
    'des': 'Waveland/Broadway',
    'pdist': 37849,
    'dly': False,
    'tatripid': '1078382',
    'origtatripno': '251983061',
    'tablockid': '8 -758',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 80250,
    'stsd': '2024-02-28'},
   {'vid': '7930',
    'tmstmp': '20240228 22:55:34',
    'lat': '41.90469292534722',
    'lon': '-87.64811706542969',
    'hdg': '358',
    'pid': 9376,
    'rt': '8',
    'des': 'Waveland/Broadway',
    'pdist': 57998,
    'dly': False,
    'tatripid': '1078382',
    'origtatripno': '251983066',
    'tablockid': '8 -757',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 79140,
    'stsd': '2024-02-28'},
   {'vid': '1344',
    'tmstmp': '20240228 22:55:40',
    'lat': '41.93677991979263',
    'lon': '-87.649169921875',
    'hdg': '357',
    'pid': 9376,
    'rt': '8',
    'des': 'Waveland/Broadway',
    'pdist': 69709,
    'dly': False,
    'tatripid': '1078381',
    'origtatripno': '251983063',
    'tablockid': '8 -756',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': 78030,
    'stsd': '2024-02-28'}]}}

In [57]:
tracker.getvehicles(vid='7991')

{'bustime-response': {'vehicle': [{'vid': '7991',
    'tmstmp': '20240228 23:26:50',
    'lat': '41.87372272572619',
    'lon': '-87.62431335449219',
    'hdg': '179',
    'pid': 18415,
    'rt': '3',
    'des': '95th Red Line',
    'pdist': 10910,
    'dly': False,
    'tatripid': '1080329',
    'origtatripno': '251981013',
    'tablockid': 'N4  -793',
    'zone': '',
    'mode': 1,
    'psgld': 'N/A',
    'stst': -3000,
    'stsd': '2024-02-29'}]}}

## GET Patterns (road segments)

In [ ]:
tracker.getpatterns(rt='8')

In [35]:
df_segs = df.drop(columns=['directions', 'directions_clean'])
df_segs['pattern'] = df_segs['rt'].progress_apply(lambda x: tracker.getpatterns(rt=x))
df_segs

100%|██████████| 124/124 [01:01<00:00,  2.01it/s]

,rt,rtnm,rtclr,rtdd,pattern
0,1,Bronzeville/Union Station,#336633,1,"{'bustime-response': {'ptr': [{'pid': 6351, 'l..."
1,2,Hyde Park Express,#993366,2,"{'bustime-response': {'ptr': [{'pid': 5528, 'l..."
2,3,King Drive,#009900,3,"{'bustime-response': {'ptr': [{'pid': 18414, '..."
3,4,Cottage Grove,#cc3300,4,"{'bustime-response': {'ptr': [{'pid': 19380, '..."
4,X4,Cottage Grove Express,#006666,X4,"{'bustime-response': {'ptr': [{'pid': 19372, '..."
...,...,...,...,...,...
119,171,U. of Chicago/Hyde Park,#336633,171,"{'bustime-response': {'ptr': [{'pid': 14108, '..."
120,172,U. of Chicago/Kenwood,#993366,172,"{'bustime-response': {'ptr': [{'pid': 14103, '..."
121,192,U. of Chicago Hospitals Express,#cc3300,192,"{'bustime-response': {'ptr': [{'pid': 2671, 'l..."
122,201,Central/Ridge,#996633,201,"{'bustime-response': {'ptr': [{'pid': 4318, 'l..."
123,206,Evanston Circulator,#666600,206,"{'bustime-response': {'ptr': [{'pid': 3190, 'l..."

In [39]:
df_segs['pattern_clean'] = df_segs['pattern'].apply(lambda x: x['bustime-response']['ptr'])
df4 = df_segs.explode('pattern_clean').drop(columns=['pattern'])
df4

,rt,rtnm,rtclr,rtdd,pattern_clean
0,1,Bronzeville/Union Station,#336633,1,"{'pid': 6351, 'ln': 23541.0, 'rtdir': 'Southbo..."
0,1,Bronzeville/Union Station,#336633,1,"{'pid': 8085, 'ln': 25038.0, 'rtdir': 'Northbo..."
1,2,Hyde Park Express,#993366,2,"{'pid': 5528, 'ln': 54663.0, 'rtdir': 'Southbo..."
1,2,Hyde Park Express,#993366,2,"{'pid': 5529, 'ln': 57979.0, 'rtdir': 'Southbo..."
1,2,Hyde Park Express,#993366,2,"{'pid': 5530, 'ln': 55196.0, 'rtdir': 'Northbo..."
...,...,...,...,...,...
121,192,U. of Chicago Hospitals Express,#cc3300,192,"{'pid': 2671, 'ln': 45819.0, 'rtdir': 'Northbo..."
122,201,Central/Ridge,#996633,201,"{'pid': 4318, 'ln': 45646.0, 'rtdir': 'Eastbou..."
122,201,Central/Ridge,#996633,201,"{'pid': 4319, 'ln': 45471.0, 'rtdir': 'Westbou..."
123,206,Evanston Circulator,#666600,206,"{'pid': 3190, 'ln': 32023.0, 'rtdir': 'Eastbou..."
123,206,Evanston Circulator,#666600,206,"{'pid': 8117, 'ln': 33631.0, 'rtdir': 'Westbou..."

In [44]:
df4['pid'] = df4['pattern_clean'].apply(lambda x: x['pid'])
df4['ln'] = df4['pattern_clean'].apply(lambda x: x['ln'])
df4['rtdir'] = df4['pattern_clean'].apply(lambda x: x['rtdir'])
df4['pt'] = df4['pattern_clean'].apply(lambda x: x['pt'])
df5 = df4.explode('pt').drop(columns=['pattern_clean'])
df5

,rt,rtnm,rtclr,rtdd,pid,ln,rtdir,pt
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,"{'seq': 1, 'lat': 41.874499999999, 'lon': -87...."
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,"{'seq': 2, 'lat': 41.8745, 'lon': -87.64432, '..."
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,"{'seq': 3, 'lat': 41.87436, 'lon': -87.64432, ..."
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,"{'seq': 4, 'lat': 41.87438, 'lon': -87.64242, ..."
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,"{'seq': 5, 'lat': 41.87466, 'lon': -87.64243, ..."
...,...,...,...,...,...,...,...,...
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,"{'seq': 160, 'lat': 42.06459, 'lon': -87.72576..."
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,"{'seq': 161, 'lat': 42.064528000001, 'lon': -8..."
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,"{'seq': 162, 'lat': 42.06459, 'lon': -87.72576..."
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,"{'seq': 163, 'lat': 42.06457, 'lon': -87.72398..."
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,"{'seq': 164, 'lat': 42.064547000001, 'lon': -8..."

In [49]:
df5['pt'].iloc[0]

{'seq': 1,
 'lat': 41.874499999999,
 'lon': -87.644385999998,
 'typ': 'S',
 'stpid': '13155',
 'stpnm': 'Desplaines & Harrison Terminal',
 'pdist': 0.0}

In [50]:
df5['pt'].iloc[1]

{'seq': 2, 'lat': 41.8745, 'lon': -87.64432, 'typ': 'W', 'pdist': 0.0}

In [53]:
df5['seq'] = df5['pt'].apply(lambda x: x['seq'])
df5['lat'] = df5['pt'].apply(lambda x: x['lat'])
df5['lon'] = df5['pt'].apply(lambda x: x['lon'])
df5['typ'] = df5['pt'].apply(lambda x: x['typ'])
df5['stpid'] = df5['pt'].apply(lambda x: x.get('stpid'))
df5['stpnm'] = df5['pt'].apply(lambda x: x.get('stpnm'))
df5['pdist'] = df5['pt'].apply(lambda x: x['pdist'])
df6 = df5.drop(columns=['pt'])
df6

,rt,rtnm,rtclr,rtdd,pid,ln,rtdir,seq,lat,lon,typ,stpid,stpnm,pdist
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,1,41.874500,-87.644386,S,13155,Desplaines & Harrison Terminal,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,2,41.874500,-87.644320,W,None,None,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,3,41.874360,-87.644320,W,None,None,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,4,41.874380,-87.642420,W,None,None,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,5,41.874660,-87.642430,W,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,160,42.064590,-87.725760,W,None,None,0.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,161,42.064528,-87.725758,S,14686,Central Street & Prospect,33116.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,162,42.064590,-87.725760,W,None,None,0.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,163,42.064570,-87.723988,W,None,None,0.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,164,42.064547,-87.723852,S,17910,Central Street & Cowper,33631.0

In [67]:
df6

,rt,rtnm,rtclr,rtdd,pid,ln,rtdir,seq,lat,lon,typ,stpid,stpnm,pdist
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,1,41.874500,-87.644386,S,13155,Desplaines & Harrison Terminal,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,2,41.874500,-87.644320,W,None,None,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,3,41.874360,-87.644320,W,None,None,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,4,41.874380,-87.642420,W,None,None,0.0
0,1,Bronzeville/Union Station,#336633,1,6351,23541.0,Southbound,5,41.874660,-87.642430,W,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,160,42.064590,-87.725760,W,None,None,0.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,161,42.064528,-87.725758,S,14686,Central Street & Prospect,33116.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,162,42.064590,-87.725760,W,None,None,0.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,163,42.064570,-87.723988,W,None,None,0.0
123,206,Evanston Circulator,#666600,206,8117,33631.0,Westbound,164,42.064547,-87.723852,S,17910,Central Street & Cowper,33631.0

In [58]:
df.drop(columns=['directions', 'directions_clean']).to_csv('routes.csv', index=False)
df2.drop(columns=['stops', 'stops_cln']).to_csv('routes-w-directions.csv', index=False)
df3.to_csv('stops-by-route-and-direction.csv', index=False)
df5.drop(columns=['pt']).to_csv('patterns-by-route-and-direction.csv', index=False)

,rt,rtnm,rtclr,rtdd,directions,directions_clean
0,1,Bronzeville/Union Station,#336633,1,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
1,2,Hyde Park Express,#993366,2,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
2,3,King Drive,#009900,3,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
3,4,Cottage Grove,#cc3300,4,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
4,X4,Cottage Grove Express,#006666,X4,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
...,...,...,...,...,...,...
119,171,U. of Chicago/Hyde Park,#336633,171,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
120,172,U. of Chicago/Kenwood,#993366,172,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
121,192,U. of Chicago Hospitals Express,#cc3300,192,{'bustime-response': {'directions': [{'id': 'N...,"[{'id': 'Northbound', 'name': 'Northbound'}, {..."
122,201,Central/Ridge,#996633,201,{'bustime-response': {'directions': [{'id': 'E...,"[{'id': 'Eastbound', 'name': 'Eastbound'}, {'i..."
123,206,Evanston Circulator,#666600,206,{'bustime-response': {'directions': [{'id': 'E...,"[{'id': 'Eastbound', 'name': 'Eastbound'}, {'i..."

## GET Service Bulletins

In [54]:
tracker.getservicebulletins(rt='8')

{'bustime-response': {'sb': [{'nm': '8 Alerts',
    'sbj': 'Check for #8 alerts',
    'dtl': 'For alerts, maps and detailed route information, visit <a href="https://transitchicago.com/bus/8">#8 Halsted Route Information</a> on our website. You can also sign up to have alerts sent by text or e-mail by signing up for <a href="https://transitchicago.com/updates">CTA Updates</a>.',
    'brf': 'For alerts and detailed #8 bus route info, visit https://transitchicago.com/bus/8 - get alerts sent to you via transitchicago.com/updates',
    'prty': 'Low',
    'srvc': [{'rt': '8', 'rtdir': '', 'stpid': '', 'stpnm': ''}],
    'mod': '',
    'url': ''}]}}

## GET Detours

In [55]:
tracker.getdetours(rt='8')

{'bustime-response': {}}

## GET Locale List

In [56]:
tracker.getlocalelist()

{'bustime-response': {'locale': [{'localestring': 'en',
    'displayname': 'English'},
   {'localestring': 'es', 'displayname': 'Spanish'}]}}